{% load static %}
<link href="https://fonts.googleapis.com/css?family=Archivo+Narrow|Charmonman|Kodchasan|Dancing+Script|Spirax" rel="stylesheet">

<nav class="navbar bg-white fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'homePage' %}"><img src="{% static 'photos/instagram_logo.webp' %}" style="height:30px;width:36px;">
      </a>
      <a class="navbar-brand" id="logoname" href="{% url 'homePage' %}">Instaground
      </a>
    </div>

    <div class="col-sm-4 col-md-4 navbar-right">

      <form class="navbar-form" role="search" action="{% url 'search_users' %}">

        <div class="input-group">
          <input type="text" class="form-control mr-sm-4" placeholder="Search User" name="user">
          <div class="input-group-btn">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Find</button>
          </div>
        </div>

      </form>
    </div>
    
    <div class="col-sm-6 col-md-6">
      {% if user.is_authenticated %}

      <li>
        <a href="{%url 'edit_profile'%}">Update Profile</a>
      </li>

      <li >
        <a href="{% url 'individual_profile_page' user.id %}">My Profile</a>
      </li>
       
      <li >
        <a href="{%url 'new_image'%}">Upload</a>
      </li>

      <li >
        <a href="/accounts/password/change">Change Password</a>
      </li>

      <li >
        <a href="/logout">Logout</a>
      </li>

      {% else %}
      <li class="mr-auto">
        <a class='btn btn-default' style="margin-left: 500px;" href="/accounts/login">Login</a>
      </li>

      <li >
        <a class='btn btn-default' href="/accounts/register">Register</a>
      </li>

      {% endif %}
    </div>

  </div>
</nav><br>

